
body{
   font-family: 'Bungee', cursive;
}

span.bungee { font-family: 'Bungee', cursive; }

.app {

  margin: 0 auto;
  text-align: center;
}

.header { font-size: 60px; font-family: 'Bungee', cursive; }
.subheader { font-size: 20px; font-family: 'Bungee', cursive; }

a.link {
  text-decoration: none;
  color: #ff1769;
}
.inputst{
  font-size-adjust: 18;
   font-Family: 'Bungee', cursive;
   margin: 10px;
   text-align: center;
   border-radius: 10px;
}
.frtable{
width: 70%;
border: 2px;
margin: auto;}
.frtable thead{
  font-size: 20px;
  color: blue;
}
a.link:hover {
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.select-container select {
  padding: 10px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 30px;
  font-family: 'Bungee', cursive;
  cursor: pointer;
  color: #ff1769;
}

.select-container select:focus {
  outline: none;
}
.forbal{
  margin: auto;
  width:70%;
}